
rac/ol8_19/software/p6880880_190000_LINUX.zip
rac/ol8_19/software/p35058172_190000_Linux-x86-64.zip
rac/ol8_19/software/LINUX.X64_193000_grid_home.zip
rac/ol8_19/software/LINUX.X64_193000_db_home.zip
oracle/rac/ol8_19/dns/.vagrant/rgloader/loader.rb
*.zip
*.vdi
oracle/rac/ol8_19/dns/.vagrant/bundler/global.sol
*.sol
*.rb
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/id
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/action_provision
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/action_set_name
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/box_meta
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/creator_uid
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/index_uuid
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/private_key
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/synced_folders
oracle/standalone/ol8_19/.vagrant/machines/default/virtualbox/vagrant_cwd
*.sol
*.rb
*.rb
oracle/standalone/ol8_19/software/OpenJDK11U-jdk_x64_linux_hotspot_11.0.19_7.tar.gz
